NODE_ENV=development
APP_ENV=local
PORT=3001

FIREBASE_PROJECT_ID=stagegate-local
FIREBASE_STORAGE_BUCKET=stagegate-local.firebasestorage.app

FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199