**

!package.json
!package-lock.json
!.npmrc

!apps/
!apps/api/
!apps/api/package.json
!apps/api/nest-cli.json
!apps/api/tsconfig.json
!apps/api/tsconfig.build.json
!apps/api/src/
!apps/api/src/**
!apps/api/Dockerfile

!apps/web/
!apps/web/package.json
!apps/web/index.html
!apps/web/vite.config.ts
!apps/web/tsconfig.json
!apps/web/tsconfig.node.json
!apps/web/.oxlintrc.json

!apps/web/src/
!apps/web/src/**

!apps/web/public/
!apps/web/public/**

!apps/web/Dockerfile
!apps/web/nginx.conf

!packages/typescript-config/*.json

!packages/typescript-config/
!packages/typescript-config/package.json

**/.env
**/.env.*
**/*.pem
**/*.key
**/*service-account*.json
