.git
.github
.vscode
.husky

**/node_modules
**/dist
**/coverage
**/.turbo
**/*.tsbuildinfo

**/.env
**/.env.*
!**/.env.example

playwright-report
test-results
blob-report

npm-debug.log*
firebase-debug.log*
.DS_Store
