# -----------------------------------
# APP
# -----------------------------------

NODE_ENV=development
PORT=3000
API_PREFIX=api

# -----------------------------------
# AUTH
# -----------------------------------

JWT_SECRET=replace_with_32_char_secret

# -----------------------------------
# FIREBASE
# -----------------------------------

FIREBASE_PROJECT_ID=

FIREBASE_CLIENT_EMAIL=

FIREBASE_PRIVATE_KEY=

FIREBASE_DATABASE_URL=