PORT=3000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
SHUTDOWN_TIMEOUT_MS=8000

FIREBASE_STORAGE_BUCKET=demo-stagegate.appspot.com
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199
